{
  "presets": [
    [
      "@babel/preset-env", 
      {
        "targets": {
          "node": "8.11",
          "browsers": [
            "Firefox 57",
            "Chrome 60",
            "iOS 10",
            "Safari 10"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties" 
  ],
  "env": {
    "cover": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
